// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$text-font-stack: 'Pathway Gothic One', sans-serif !default;

/// Color palette
$color-dark: black;
$color-light: white;
$color-blue: rgba(100, 227, 252);
$color-red: rgba(255, 0, 0);

