/* block: PAGE */
.page {
    background-color: black;
    background-image: url(./melanie-weidmann-9he1mSaFsQg-unsplash.jpg);
    background-size: cover;
}

/* element: PAGE__TITLE */

.page__title {
    text-align: center;
    color: white;
}

/* block: CONTAINER */

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* block: CARD */
/* structure */
.card {
    padding: 2rem;
    border-radius: 0.25rem;
    margin: 2rem;
}

/* skins */

.card-light {
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(100, 227, 252, 0.8);
}

.card-light:hover {
    box-shadow: 0px 0px 5px 8px rgba(100, 227, 252, 0.8);
}

.card-dark {
    background-color: black;
    box-shadow: 0px 0px 5px 3px rgba(255, 0, 0, 0.8);
}

.card-dark:hover {
    background-color: black;
    box-shadow: 0px 0px 5px 8px rgba(255, 0, 0, 0.8);
}

/* element: CARD__TITLE */
/* structure */
.card__title {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

/* skins */
.card__title-light {
    color: black;
}

.card__title-dark {
    color: white;
}

/* element: CARD__IMAGE */
/* structure */
.card__image {
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
}

/* skins */
.card__image-light {
    
}

.card__image-dark {
    
}

/* element: CARD__TEXT */
/* structure */
.card__text {
    font-family: 'Roboto', sans-serif;
}

/* skins */
.card__text-light {
    color: black;
}

.card__text-dark {
    color: white;
}